@import '../../utils/variables.scss';

.container_header{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
    height: 88px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: $white-1;
    position: sticky;
    top: 0;
    z-index: 9;

    .larg_header{
        width: $larg-desktop;
        margin: auto;
        display: flex;

        @media only screen and (max-width: $mobile) {
            width: $larg-mobile;
        }

        .header_col{
            display: flex;
            align-items: center;

            .my_account{
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: clamp(12px, 0.73vw, 14px);
                color: $black;
                font-weight: 400;
                line-height: 22px;
                cursor: pointer;

                .icon {
                    width: clamp(12px, 0.73vw, 14px);
                }
            }

            .wish_list{
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: clamp(12px, 0.73vw, 14px);
                color: $black;
                font-weight: 400;
                margin: 0 clamp(32px, 2.5vw, 48px) 0 clamp(27px, 2.1vw, 39px);
                line-height: 22px;
                cursor: pointer;

                .icon {
                    width: clamp(16px, 0.95vw, 18px);
                }
            }
        }

        .header_col_grow{
            flex: 1;
        }

        .link_logo{
            display: flex;
            align-items: center;
            height: 100%;

            @media only screen and (max-width: $mobile){
                margin-left: 15px;
                margin-right: 30px;
            }

            .logo{
                width: 7.657vw;
                max-width: 147px;

                @media only screen and (max-width: $mobile) {
                    max-width: 110px;
                    width: 100%;
                }
            }
        }
    }
}