// COLORS
$black: #353535;
$white-0: #FAFAFA;
$white-1: #ffffff;
$white-2: #EFEFEF;
$orange:#FAA500;
$yellow: #ffe63b;
$grey: #787D83;

// DEVICE

$larg-desktop: 83.2299%;
// THIS IS EQUAL TO 1598px IN 1920px SCREEN

$larg-mobile:  83.335%;
$mobile: 1024px;