@import '../../utils/variables.scss';

.container_footer{
    padding: clamp(38px, 2.084vw, 40px) 0 clamp(62px, 3.3vw, 64px);

    .container_larg_footer{
        display: flex;
        justify-content: space-between;
        width: 48.831vw;
        margin: auto;

        .container_session_footer{
            display: flex;
            flex-direction: column;
            gap: clamp(21px, 1.3vw, 23px);

            .title_session_footer{
                font-size: clamp(14px, 0.82vw, 16px);
                font-weight: 700;
                color: $black;
            }

            .link_session_footer{
                color: $black;
                font-size: clamp(10px, 0.625vw, 12px);
                font-weight: 400;
            }
        }
    }
}

.container_accordions_footer{
    padding: 40px 0 57px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}